.header{
    background-color: aqua;
    text-align: center;
    background-image: url(download.jfif);

background-size: cover;

}
.nav{
    background-color: blue;
    color:rgb(243, 203, 203) ;
    display: flex;
    justify-content: space-between;
    color: white;
    

}
a{
    color:white ;
    text-align:center;

}
h1{
    font: size 45px;
    margin: 50px;

}